<div class="w-full max-w-3xl">

    <!-- Form -->

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Chiffre d'affaires</div>
            <div class="text-secondary">Statistiques entre deux dates</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Current password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Première date</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:calendar'"
                        matPrefix></mat-icon>
                    <input
                        [formControl]="date1Control"
                        type="date"
                        matInput>
                </mat-form-field>
            </div>
            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Deuxième date</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:calendar'"
                        matPrefix></mat-icon>
                    <input
                        [formControl]="date2Control"
                        type="date"
                        matInput>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">La deuxième date ne doit pas être antérieure à la première.</div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'" (click)="getChiffreAffaires()">Voir
            </button>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Chiffre d'affaires pour la date séléctionnée : </div>
            <div class="text-secondary">Keep your account more secure with following preferences.</div>
        </div>
        

        

</div>
