<form class="flex flex-col mt-4 px-8 pt-10 shadow rounded overflow-hidden">
    <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
        <div class="gt-xs:max-w-80 gt-xs:pr-12">
            <p class="text-lg font-medium">Modification</p>
            <p class="text-secondary mb-6">
            </p>
        </div>
        <div class="flex-auto min-w-64">
            <div class="flex">
                <!-- <mat-form-field class="w-full">
                    <mat-label>Choisir l'etat</mat-label>
                    <mat-select [formControlName]="'etat'">
                        <mat-option *ngFor="let etat of listEtat" [value]="etat">
                          {{etat}}
                        </mat-option>
                      </mat-select>
                </mat-form-field> -->
                <mat-form-field class="flex-auto">
                    <mat-label>Choisir l'etat</mat-label>
                    <input
                        matInput
                        [placeholder]="'mail@company.com'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                </mat-form-field>
            </div>
            <div class="flex">
                
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Language</mat-label>
                    <input
                    matInput
                    [placeholder]="'mail@company.com'">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:translate'"></mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>

    <mat-divider class="mt-4 mb-12"></mat-divider>
</form>
